<div>
  <el-steps :space="200" :active="state.active">
    <el-step title="Case validation" description="Check if this case meets requirements"></el-step>
    <el-step title="Parts labeling" description="Label car parts with polygons"></el-step>
    <el-step title="Defect labeling" description="Label cracks, holes and dents"></el-step>
    <el-step title="Finish case" description="Check summary and move to next case"></el-step>
  </el-steps>

  <br/>
  <el-button icon="warning" type="primary" size="small" @click="command('validate_case')">Accept case</el-button>
  <br/>
  <el-button icon="warning" type="danger" size="small" @click="command('validate_case')">Reject case</el-button>

  <el-row :gutter="5">
    <el-col :span="6">
      <div style="margin: 5px; border: 1px solid #ccc; float: left;">
        <el-row :gutter="5">
          <el-col :span="12"><div style="padding: 15px; text-align: center;">FRONT</div></el-col>
          <el-col :span="12"><el-switch v-model="state.frontAccept" on-color="#13ce66" off-color="#ff4949" on-text="accept" off-text="reject"> </el-switch></el-col>
        </el-row>
        <sly-gallery :content="[[data.case.front]]"/>
        <!--<img style="display: block; width: 100%; object-fit: contain; background: white;" :src="data.case.front">-->
        <!--<el-row :gutter="5">-->
          <!--<el-col :span="12"><div style="padding: 15px; text-align: center;">FRONT</div></el-col>-->
          <!--<el-col :span="12"><el-switch v-model="state.frontAccept" on-color="#13ce66" off-color="#ff4949" on-text="accept" off-text="reject"> </el-switch></el-col>-->
        <!--</el-row>-->
      </div>
    </el-col>
    <el-col :span="6">
      <div style="margin: 5px; border: 1px solid #ccc; float: left;">
        <img style="display: block; width: 100%; object-fit: contain; background: white;" :src="data.case.back">
        <el-row :gutter="5">
          <el-col :span="12"><div style="padding: 15px; text-align: center;">BACK</div></el-col>
          <el-col :span="12"><el-switch v-model="state.backAccept" on-color="#13ce66" off-color="#ff4949" on-text="accept" off-text="reject"> </el-switch></el-col>
        </el-row>
      </div>
    </el-col>
    <el-col :span="6">
      <div style="margin: 5px; border: 1px solid #ccc; float: left;">
        <img style="display: block; width: 100%; object-fit: contain; background: white;" :src="data.case.left">
        <el-row :gutter="5">
          <el-col :span="12"><div style="padding: 15px; text-align: center;">LEFT</div></el-col>
          <el-col :span="12"><el-switch v-model="state.leftAccept" on-color="#13ce66" off-color="#ff4949" on-text="accept" off-text="reject"> </el-switch></el-col>
        </el-row>
      </div>
    </el-col>
    <el-col :span="6">
      <div style="margin: 5px; border: 1px solid #ccc; float: left;">
        <img style="display: block; width: 100%; object-fit: contain; background: white;" :src="data.case.right">
        <el-row :gutter="5">
          <el-col :span="12"><div style="padding: 15px; text-align: center;">RIGHT</div></el-col>
          <el-col :span="12"><el-switch v-model="state.rightAccept" on-color="#13ce66" off-color="#ff4949" on-text="accept" off-text="reject"> </el-switch></el-col>
        </el-row>
      </div>
    </el-col>
  </el-row>

      <!--<div class="row">-->
        <!--<div class="column">-->
          <!--<img :src="data.case.front" style="width:100%">-->
        <!--</div>-->
        <!--<div class="column">-->
          <!--<img :src="data.case.back" style="width:100%">-->
        <!--</div>-->
        <!--<div class="column">-->
          <!--<img :src="data.case.left" style="width:100%">-->
        <!--</div>-->
        <!--<div class="column">-->
          <!--<img :src="data.case.right" style="width:100%">-->
        <!--</div>-->
      <!--</div>-->

</div>
